<footer class="footer">
	<div class="container-fluid">
		<ul class="nav">
			<li class="nav-item">
				<a target="_blank" rel="noopener noreferrer" href="https://appseed.us/admin-dashboards/flask-dashboard-black" class="nav-link"> &nbsp; </a>
			</li>
		</ul>
		<div class="copyright">
			&nbsp; <a target="_blank" rel="sponsored noopener noreferrer" href="https://www.creative-tim.com/?AFFILIATE=128200">&nbsp;</a> &nbsp
			<a target="_blank" rel="noopener noreferrer" href="https://appseed.us">&nbsp;</a>
		</div>
	</div>
</footer>
